#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

#group-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
  gap: 16px;
}

button {
  padding: 8px;
  font-weight: bold;
  border-radius: 50px; /* Rounded corners */
  width: 150px; /* Set a specific width */
  height: 50px; /* Set a specific height */
  text-align: center; /* Center the text */
  background: hsla(276, 98%, 50%, 0.225);
  border: 2px solid #fff;
  box-shadow: 0 0 10px #9ecaed;
  color: #fff;
  transition: all 0.3s ease;
}

button:hover {
  background: rgba(0, 0, 0, 0.497);
  box-shadow: 0 0 20px #9ecaed, 0 0 30px #9ecaed, 0 0 40px #9ecaed;
}